body {
    padding: 2em 1em;
}
.card {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    padding: 1em;
    height: 300px;
    width: 45%;
    margin: 2.5%;
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
